.wode-top-wrap{
  height: 144px;
  background: #fd6e15;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.wode-top-sz{
  line-height: 38px;
  width: 93%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
}
.wode-top-sz p{
  float: right;
  margin-right: 5%;
}
.wode-top-sz p a{
  color: #ffffff;
}
.wode-top-sz img{
  float:right;
  margin-top: 9px;
}
.wode-top-dl-wrap{
  width: 88%;
  margin: 0 auto;
}
.wode-top-dl-right{
  display: block;
  width: 25%;
  float: right;
  color: #ffffff;
  font-size: 12px;
  line-height: 79px;
}
.wode-top-dl-right a{
  color: #ffffff;
}
.wode-top-dl-right span{
  float: right;
  margin-right: 10%;
}
.wode-top-dl-right img{
  float: right;
  margin-top: 33.5px;
}
.wode-top-dl-left{
  float: left;
}
.wode-top-dl-left-img{
  float: left;
}
.wode-top-dl-left-img p{
  color: #ffffff;
  font-size: 16px;
  line-height: 68px;
  margin-left: 10px;
  display: none;
  float: right;
}
.wode-top-dl-left-img p a{
  color: #ffffff;
}
.wode-top-dl-left-ri{
  float: left;
  margin-left: 10px;
  color: #ffffff;
}
.wode-top-dl-left-ri-te1{
  font-size: 16px;
}
.wode-top-dl-left-ri-te2{
  font-size: 10px;
  line-height: 27px;
}
.wode-top-dl-left-ri-te2 a{
  color: #ffffff;
}
.wode-top-dl-left-ri-te2 img{
  margin-top: 7px;
}
.wode-top-dl-left-ri-te2 span{
  margin-left: 5px;
}
.shezhi-wrap{
  padding-top: 44px;
}
.wode-top-dl-left-ri-te3{
  font-size: 12px;
  width: 90px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 23px;
}
.wode-top-dl-left-ri-te3 a{
  color: #ffffff;
}
.wode-top-dl-left-ri-te3 img{
  margin-top: 3px;
  margin-right: 5px;
}
.wode-dd-wrap{
  margin-top: 144px;
  width: 100%;
  padding: 10px 0;
  background: #f3f3f3;
}
.wode-dd-top{
  width: 93%;
  margin: 0 auto;
  line-height: 52px;
  box-sizing: border-box;

}
.wode-dd-top p{
  float: left;
  font-size: 14px;
  color: #171717;
}
.wode-dd-top div{
  float: right;
  color: #a7a7a7;
  font-size: 12px;
}
.wode-dd-top div img{
  margin-top: 19px;
}
.wode-dd-img-all{
  width: 100%;
  padding: 13px 0;
  background: #ffffff;
}
.wode-dd-img{
  float: left;
  width: 20%;
  text-align: center;
  color: #171717;
  font-size: 12px;
}
.wode-dd-img p{
  margin-top: 10px;
}
.wode-all-wrap{
  padding-bottom: 55px;
}
.wode-all{
  float: left;
  width: 25%;
  text-align: center;
  color: #171717;
  font-size: 12px;
  padding: 18px 0;
}
.wode-all p{
  margin-top: 10px;
}
.wd-footer-bar-wrap{
  border-top: 1px solid #dddddd;
  width: 100%;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  color: #f96f29;
}
.wd-footer-bar{
  float: left;
  width: 20%;
  text-align: center;
}
.wd-footer-bar div{
  padding: 8px 0;
}
.wd-footer-bar div img{
  cursor: pointer;
}
.wd-footer-bar-wrap a{
  color: #787878;
}
.wd-footer-bar p{
  padding-bottom: 2px;
}
/*以上是我的样式*/
.shezhi-all{
  line-height: 45px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebeaea;
  font-size: 16px;
  color: #171717;
}
.shezhi-all-text{
  width: 92%;
  margin: 0 auto;
}
.shezhi-all-text p{
  float: left;
}
.shezhi-all-text img{
  float: right;
  margin-top: 16.5px;
}
.shezhi-all-tex img{
  margin-top: 8px;
}
.shezhi-all-text div{
  float: right;
  color: #a7a7a7;
}
.shezhi-now{
  color: #a7a7a7;
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
}
.zhezhao{
  width: 100%;
  height: 100%;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity:.4;
}
.qcbdhc-wrap{
  position: fixed;
  left: 50%;
  top:50%;
  width: 85%;
  height: 111px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 4;
  margin-left: -42.5%;
  margin-top: -55px;
  box-shadow:2px 2px 30px #6e6e6e;
}
.qcbdhc-text{
  line-height: 67px;
  text-align: center;
  color: #171717;
  font-size: 14px;
  border-bottom: 1px solid #ebeaea;
}
.qcbdhc-tex{
  line-height: 44px;
  font-size: 12px;
}
.qcbdhc-tex-le{
  float: left;
  width: 50%;
  text-align: center;
  color: #171717;
}
.qcbdhc-tex-ri{
  width: 50%;
  float: right;
  text-align: center;
  background: #fd6e15;
  color: #ffffff;
  border-bottom-right-radius: 5px;

}
/*以上是设置样式*/
html,body,#app{
  width: 100%;
  height: 100%;
}
.yhfk-wrap{
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  padding-top: 44px;
}
.yhfk-con{
  width: 92%;
  height: 145px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 12.5px auto;
  background: #ffffff;
}
.yhfk-con div{
  display:block;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  border: none;
  color: #9e9e9e;
  font-size: 12px;
  overflow: auto;
}
.yhfk-con-le{
  width: 92%;
  text-align: right;
  color: #9e9e9e;
  font-size: 12px;
  margin: 0 auto;
}
.yhfk-img{
  width: 92%;
  margin: 0 auto;
  margin-top: 12.5px;
}
.yhfk-img span{
  color: #9e9e9e;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 25px;
  display: inline-block;
}
.yhfk-phon{
  width: 92%;
  margin: 0 auto;
  margin-top: 2px;
}
.yhfk-phon div{
  float: left;
  font-size: 14px;
  color: #171717;
  line-height: 25px;
}
.yhfk-phon p{
  float: right;
  width: 75%;
  line-height: 25px;
}
.yhfk-phon p input{
  width: 100%;
  height: 25px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  font-size: 14px;
  color: #171717;
}
/*以上是意见反馈样式*/
.xiaoxi-all{
  margin-top: 54px;
}
.xiaoxi-con{
  width: 92%;
  margin: 0 auto;
}
.xiaoxi-top{
  font-size: 8px;
  text-align: center;
  color: #999999;
  line-height: 22.5px;
}
.xi-tex{
  border: 1px solid #d6d7dc;
  border-radius: 5px;
}
.xi-text{
  float: left;
  width: 20%;
  text-align: center;
}
.xi-text img{
  margin-top: 15px;
}
.xi-text1{
  width: 75%;
  padding: 11px 0;
  float: left;
  font-size: 12px;
  color: #666666;
}
/*以上是消息样式*/
.wdxx-con{
  width: 100%;
  line-height: 70px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 44px;
}
.wdxx-con1{
  width: 100%;
  line-height: 45px;
  border-bottom: 1px solid #eaeaea;
}
.wdxx-con-text{
  width: 92%;
  margin: 0 auto;
}

.wdxx-con-text-le{
  float: left;
  font-size: 14px;
  color: #171717;
}
.wdxx-con-text-ri{
  float: right;
  width: 35%;
}
.wdxx-con-text-ri-le{
  float: right;
}

.wdxx-con-text-ri-le img{
  margin-top: 29px;
}
.wdxx-con-text-ri-le1{
  float: right;
  color: #d6d6d6;
  font-size: 12px;
}

.wdxx-con-text-ri-le1 img{
  margin-top: 18px;
}
.wdxx-con-text-ri-ri{
  float: right;
  margin-right: 20px;
}
.wdxx-con-text-ri-ri img{
  margin-top: 15px;
}
.wdxx-con-text-ri-ri p{
  color: #d6d6d6;
  font-size: 12px;
}
/*以上是我的信息样式*/
.zjf-wrap{
  width: 100%;
  height: 100%;
}
.zjf-all{
  background: url("./images/jf_bg.png") no-repeat center;
  background-size: 100% 100%;
  padding: 30px 0;
  margin-top: 44px;
}
.zjf-top{
  text-align: center;
}
.zjf-con{
  width: 92%;
  margin: 0 auto;
  margin-top: 15px;
  line-height: 50px;
  background: #ffffff;
  border-radius: 5px;
  border-bottom: 2px solid #ff8400;
}
.zjf-con-le{
  font-size: 16px;
  float: left;
  width: 50%;
  color: #000000;
}
.zjf-con-le img{
  margin-top: 16px;
  margin-left: 15px;
}
.zjf-con-le span{
  margin-left: 10px;
}
.zjf-con-ri{
  float: right;
  width: 50%;
  font-size: 12px;
}
.zjf-con-ri-te{
  float: right;
  width: 60px;
  line-height: 20px;
  background: #37a2db;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  margin-top: 15px;
  margin-right: 15px;
}
.zjf-con-ri-te1{
  float: right;
  margin-right: 30px;
  color: #fd6e15;
}
/*以上是赚积分样式*/
.gmhy-top{
  width: 100%;
  background-size: 100% 100%;
  background: url("./images/pic.png")center no-repeat;
  margin-top: 43px;
  padding: 10px 0;
}
.gmhy-top-con{
  width: 81%;
  margin: 0 auto;
  font-size: 8px;
}
.gmhy-top-con-le{
  width: 33%;
  float: left;
  color: #ffffff;
  margin-top: 25px;

}
.gmhy-top-con-le p{
  width: 70px;
  text-align: center;
}
.gmhy-top-con-co{
  width: 35%;
  float: left;
  color: #ffffff;
  text-align: center;
}
.gmhy-top-con-co p{
  margin-top: 15px;
}
.gmhy-top-con-ri{
  width: 31%;
  float: left;
  color: #ffffff;
  margin-top: 25px;
}
.gmhy-top-con-ri p{
  width: 70px;
  text-align: center;
  float: right;
}
.gmhy-content{
  width: 81%;
  margin: 0 auto;
  margin-top: 37.5px;
}
.gmhy-content img{
  float: left;
  display: block;
}
.gmhy-content-text{
  float: right;
  width: 80%;
}
.gmhy-content-text p{
  font-size: 14px;
  color: #f96f29;
}
.gmhy-content-text div{
  font-size: 10px;
  color: #666666;
}
.gmhy-content-text div{
  margin-top: 5px;
}
/*以上是钢猫会员样式*/
.rzgl-con{
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
 height: 40px;
 font-size: 10px;
  color: #ff0000;
  margin-top: 44px;
}
.rzgl-con-1{
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  height: 45px;
  font-size: 16px;
}
.rzgl-con-text{
  width: 86%;
  margin: 0 auto;
  padding-top: 4px;
}
.rzgl-con-1-text{
width: 92%;
  margin: 0 auto;
}
.rzgl-con-1-text-le{
  float: left;
  color: #212121;
  line-height: 45px;
}
.rzgl-con-1-text-ri{
  width: 48%;
  float: left;
  margin-left: 15px;
  color: #a7a7a7;
}
.rzgl-con-1-text-ri input{
  width: 98%;
  height: 45px;
  border: none;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.rzgl-con-1-text-img{
  float: right;
}
.rzgl-con-1-text-img img{
  margin-top: 11.75px;
}
/*以上是认证管理样式*/
.zzrz-img{
  text-align: center;
  margin-top: 99px;
}
.zzrz-text{
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #3d4245;
}
.zzrz-text1{
  text-align: center;
  font-size: 12px;
  color: #999999;
}
.rzcg-cha{
  width: 45%;
  margin:0 auto ;
  margin-top: 17px;
}
.rzcg-cha div{
  float: left;
  width: 45%;
  background: #fd6e15;
  border-radius: 3px;
  text-align: center;
  font-size:12px;
  color: #ffffff;
  line-height: 25px;
}
.rzcg-cha p{
  float: right;
  width: 45%;
  background: #fd6e15;
  border-radius: 3px;
  text-align: center;
  font-size:12px;
  color: #ffffff;
  line-height: 25px;
}
.zzrz-text1 span{
  color: #eb665c;
  text-decoration: underline;
}
.rzsb-con{
  margin: 0 auto;
  width: 120px;
  background: #fd6e15;
  border-radius: 3px;
  text-align: center;
  font-size:12px;
  color: #ffffff;
  line-height: 25px;
  margin-top: 17px;
}
.xxqg-wrap{
  margin-top: 44px;
}
/*一下是我的资产样式*/
.wdzc-wrap{
  padding-top: 44px;
}
.wdzc-content-wrap{
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
.wdzc-content-all{
  width: 92%;
  margin: 0 auto;
}
.wdzc-content-left{
  float: left;
}
.wdzc-content-left-img{
  margin-top: 6px;
}
.wdzc-content-left span{
  margin-left: 10px;
}
.wdzc-content-right{
  float: right;
}
.wdzc-content-right img{
  margin-top: 20px;
}
.zhye-tk{
  font-size: 12px;
}
.zhye-wrap{
  padding-top: 43px;
}
.zhye-top-wrap{
  text-align: center;
  width: 100%;
  height: 105px;
  background: url("./images/zhye-bk.png") no-repeat;
  background-size: 100% 100%;
}
.zhye-top-zje{
  line-height: 57px;
  color: #f1f1f1;
  font-size: 12px;
}
.zhye-top-je{
  color: #ffffff;
  font-size: 16px;
}
.zhye-top-je img{
  margin-top: 2px;
  margin-left: 10px;
}
.zhye-zjmx-wrap{
  width: 100%;
  background: #f3f3f3;
  line-height: 55px;
  font-size: 14px;
  color: #343434;
}
.zhye-zjmx-all{
  width: 92%;
  margin: 0 auto;
}
.zhye-zjmx-left{
  float: left;
}
.zhye-zjmx-left img{
  margin-top: 19.5px;
  margin-right: 5px;
}
.zhye-zjmx-right{
  float: right;
}
.zhye-zjmx-right img{
  margin-top: 19.5px;
  margin-right: 5px;
}
.lxkf-wrap{
  width: 80%;
  background: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -70px;
  z-index: 3;
  border-radius: 3px;
}
.lxkf-top{
  text-align: center;
  line-height: 50px;
  font-size: 14px;
}
.lxkf-top1{
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 50px;
}
.lxkf-top2{
  width: 100%;
  line-height: 35px;
  font-size: 12px;
  border-top: 1px solid #9e9e9e;
}
.lxkf-top2-left{
  float: left;
  width: 50%;
  text-align: center;
  color: #323232;
}
.lxkf-top2-right{
  float: right;
  width: 50%;
  text-align: center;
  background: #f96f29;
  color: #ffffff;
  border-bottom-right-radius: 3px;
}
.wdjf-wrap{
  padding-top: 43px;
}
.wdjf-top{
  background: #3cc089;
}
.wdjf-wrap .zhye-top-wrap{
  background: url("./images/wdjf-bk.png") no-repeat;
  background-size: 100% 100%;
}
.dh{

  text-decoration:underline;
  font-size: 12px;
  margin-top: 2px;
  display: inline-block;
}
.dh a{
  color: #09814d;
}
.wdjf-content-wrap{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ebeaea;
}
.wdjf-content{
  width: 92%;
  margin: 0 auto;
}
.wdjf-content-left{
  float: left;
  font-size: 14px;
  color: #333333;
  margin-top: 13.5px;
}
.wdjf-content-right{
  float: right;
  font-size: 14px;
  color: #333333;
  margin-top: 13.5px;
  text-align: right;
}
.wdjf-content-right p{
  color: #999999;
  font-size: 12px;
}
.wdjf-content-left p{
  color: #999999;
  font-size: 12px;
}
.zhye-sx-all{
  height: 63px;
  width: 92%;
  margin: 0 auto;
  color: #343434;
}
.zhye-sx-all-left{
  float: left;
  width: 28%;
  text-align: center;
  margin-left: 4%;
  line-height: 30px;
  border: 1px solid #ebeaea;
  margin-top: 15.5px;
  font-size: 14px;
  border-radius: 3px;
}
.zhye-sx-all-right{
  float: right;
  width: 20%;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ebeaea;
  margin-top: 15.5px;
  font-size: 14px;
  border-radius: 3px;
}
.zhye-sx-all-bk{
  background: #f96f29;
  color: #ffffff;
}
.tm{
  background: #000000;
  opacity: .6;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 267px;
}
.wdjf-sc-wrap{
  position: absolute;
  top: 204px;
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  height: 63px;
  line-height: 63px;
}
.wdjf-sc-all{
  border: 1px solid #ebeaea;
  float: left;
  width: 28%;
  text-align: center;
  margin-left: 4%;
  font-size: 12px;
  color: #171717;
  line-height: 30px;
  margin-top: 16px;
  border-radius: 3px;
}
.wdjf-sc-all-bk{
  background: #34bd8f;
  color: #ffffff;
}
.jfdh-content-wrap{
  width: 100%;
  padding: 10px 0;
  background: #ffffff;
  border-bottom: 1px solid #ebeaea;
}
.jfdh-content-all{
  width: 92%;
  margin: 0 auto;
}
.fdh-content-left{
  float: left;
}
.fdh-content-right{
  font-size: 9px;
  float: right;
  width:40px;
  line-height: 20px;
  text-align: center;
  background: #f96f29;
  color: #ffffff;
  border-radius: 3px;
  margin-top: 35px;
}
.fdh-content-left img{
  float: left;
}
.fdh-content-left-con{
  float: left;
  margin-left: 20px;
}
.fdh-content-left-con p{
  font-size: 9px;
  color: #323232;
}
.fdh-content-left-con div{
  color: #fd6e15;
  font-size: 12px;
  line-height: 25px;
}
.jfdh-wrap{
  height: 100%;
  background: #f3f3f3;
}
.yhj-wrap .denglu-top-wrap{
  background: #20baed;
}
.yhj-wrap{
  padding-top: 44px;
}
.yhj-top-wrap{
  width: 100%;
  background: #20baed;
  height: 40px;
}
.yhj-top-text{
  float: left;
  width: 25%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
  background: #20baed;
}
.yhjtop-text{
  background: url("./images/yhjbk.png") no-repeat;
  background-size: 100% 100%;
}
.wdqg-wrap{
  padding-top: 44px;
  background: #f3f3f3;
  height: 100%;
}
.wdqg-content-wrap{
  margin-bottom: 11px;
  height: 87px;
  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
.wdqg-content-all{
  width: 92%;
  margin: 0 auto;
  padding: 10px 0;
}
.wdqg-content-all-left{
  float: left;
}
.wdqg-content-all-left-top{
  font-size: 13px;
  color: #bfbfbf;
}
.wdqg-content-all-left-top span{
  color: #343434;
  margin-left: 5px;
  padding-bottom: 5px;
}
.wdqg-content-all-left-top1{
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 5px;
}
.wdqg-content-all-left-top1 span{
  margin-left: 5px;
}
.wdqg-content-all-right{
  float: right;
}
.wdqg-content-all-right-top{
  color: #f96f29;
  font-size: 12px;
}
.wdqg-content-all-right-top1{
  margin-top: 10px;
  text-align: center;
  font-size: 9px;
  color: #8e8e8e;
}
.wdqg-xxqg{
  padding-top: 44px;
  background: #f3f3f3;
  padding-bottom: 50px;
}
.wdqg-xxqg-content-wrap{
  width: 92%;
  margin: 10px auto;
  background: #ffffff;
  padding-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}
.wdqg-xxqg-content-all{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: #343434;
}
.wdqg-xxqg-content-all span{
  width: 80px;
  color: #9e9e9e;
  float: left;
  margin-left: 10px;
  overflow: hidden;
  height: 20px;
  display: inline-block;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.wdqg-xxqg-content-all1{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: #343434;
}
.wdqg-xxqg-content-all1-left{
  float: left;
  width: 95px;
  text-align: left;
}
.wdqg-xxqg-content-all1-right{
  float: left;
  margin-left: 10px;
}
.wdqg-xxqg-content-wrap4{
  padding-bottom: 0;
}
.wdqg-xxqg-content-te{
  line-height: 43px;
  margin-left: 10px;
  font-size: 15px;
  color: #343434;
}
.wdqg-xxqg-content-te span{
  color: #f96f29;
}
.wdqg-xxqg-footer{
  background: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
 font-size: 14px;
  color: #343434;
}
.wdqg-xxqg-footer-text{
  float: left;
  width: 50%;
  text-align: center;
  line-height: 50px;
}
.wdqg-xxqg-footer-text1{
  color: #ffffff;
  background: #f96f29;
  z-index: 2;
}
.bdsj-wrap{
  padding-top: 44px;
}
.bdsj-top{
  width: 88%;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 13px;
  color: #343434;
}
.bdsj-yzm-wrap{
  width: 88%;
  margin: 30px auto;
  height: 38px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
}
.bdsj-yzm-left{
  float: left;
  margin-left: 15px;
}
.bdsj-yzm-left img{
  margin-top: 10px;
}
.bdsj-yzm-con{
  width: 40%;
  line-height: 15px;
  font-size: 15px;
  margin-top: 9px;
  border: none;
  margin-left: 15px;
  color: #9e9e9e;
}
.bdsj-yzm-con::-webkit-input-placeholder {
  color: #9e9e9e;
  font-size: 15px;
}
.bdsj-yzm-right{
  float: right;
  margin-right: 15px;
  font-size: 12px;
  background: #f96f29;
  text-align: center;
  color: #ffffff;
  width: 80px;
  line-height: 20px;
  border-radius: 5px;
  margin-top: 9px;
}
.bdsj-yzm-wr{
  font-size: 12px;
  color: #9e9e9e;
  width: 88%;
  margin: 0 auto;
  margin-top: 3px;
}
.xgmm-content-wrap{
  width: 88%;
  margin: 30px auto;
}
.xgmm-content-all{
  height: 38px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  margin-bottom: 10px;
}
.xgmm-content-all input{
  color: #9e9e9e;
  margin-top: 10px;
  margin-left: 15px;
  border: none;
}
.xgmm-content-all input::-webkit-input-placeholder {
  color: #9e9e9e;
  font-size: 15px;
}
.bdsj-yzm-wr1{
  font-size: 12px;
  color: #9e9e9e;
  margin: 0 auto;
  margin-top: 3px;
}
.qunr-fx22{
  font-size: 12px;
}
.xgzfmm-wrap{
  padding-top: 44px;
  height: 100%;
  background: #f3f3f3;
}
.xgzfmm-content{
  text-align: center;
  font-size: 18px;
  color: #343434;
  margin-top: 70px;
  margin-bottom: 35px;
}
.xgzfmm-mak{
  width: 204px;
  margin: 0 auto;
  border: 1px solid #b8b8b8;
  height: 34px;
}
.xgzfmm-mak1{
  height: 33px;
  float: left;
  width: 34px;
  border-right: 1px solid #b8b8b8;
}
.bdyx-yx{
  float: left;
  font-size: 14px;
  color: #9e9e9e;
  margin-left: 15px;
  margin-top: 8px;
}
.agree-yuan33{
  margin-top: 15px;
  margin-right: 10px;
}
.wdddtz-wrap{
  background: #f3f3f3;
  padding-bottom: 50px;
}
.wdddte-content-wrap{
  width: 92%;
  margin: 10px auto;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}
.wdddte-content-top{
  font-size: 12px;
  color: #343434;
  margin-left: 10px;
  line-height: 40px;
}
.wdddte-content-sjtz{
  font-size: 12px;
  color: #343434;
  margin-left: 10px;
  line-height: 25px;
  margin-top: 80px;
}
.wdddte-content-top1{
  font-size: 12px;
  color: #343434;
  margin-left: 10px;
  line-height: 35px;
}
.scj-sc{
  width: 100%;
  background: #ffffff;
  line-height: 25px;
  font-size: 12px;
  color: #343434;
  border-bottom: 1px solid #dfdfdf;
}
.scj-sc span{
  margin-left: 4%;
}
.scj-wrap{
  height: 100%;
  background: #f3f3f3;
}
.scj-content-wrap{
  padding: 9px 0;
  border-bottom: 1px solid #dfdfdf;
}
.scj-content-all{
  width: 92%;
  margin: 0 auto;
}
.scj-content-left{
  float: left;
}
.scj-content-left img{
  float: left;
}
.scj-content-left p{
  float: left;
}
.scj-content-left span{
  font-size: 14px;
  color: #343434;
  margin-left: 5px;
}
.scj-content-right{
  float: right;
}
.scj-content-right-top{
  font-size: 12px;
  color: #f96f29;
}
.scj-content-right-top1{
  font-size: 12px;
  color: #343434;
  margin-top: 40px;
}
.scj-content-right-top1 img{
  margin-top: 3px;
}
.wdpj-wrap{
  padding-top: 44px;
}
.wdpj-content-wrap{
  width: 92%;
  margin: 0 auto;
}
.wdpj-content{

}
.wdpj-all{
  padding: 12px 0;
  border-bottom: 1px solid #eceaed;
}
.wdpj-content-top-left{
  float: left;
}
.wdpj-content-top-left img{
  width: 40px;
  height: 40px;
}
.wdpj-content-top-right{
  float: left;
  line-height: 40px;
  font-size: 12px;
  color: #343434;
  margin-left: 15px;
}
.wdpj-content-con{
  line-height:14px;
  margin: 14px 0;
  font-size: 14px;
  color: #343434;
  width: 100%;
  word-break: break-all;
}
.wdpj-time{
  font-size: 9px;
  color: #9e9e9e;
}
.wdfp-time{
  text-align: right;
}
.wdfp-time p{
  padding-top: 3px;
}
.wdfp-all{
  height: auto;
}
.kpxq-cpxq{
  text-align: center;
  line-height: 40px;
  color: #343434;
  font-size: 14px;
}
.kpxq-cpxq-content-wrap{
  line-height: 22px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.kpxq-cpxq-content-left{
  width: 30%;
  font-size: 15px;
  color: #343434;
  float: left;
}
.kpxq-cpxq-content-right{
  width: 60%;
  border: 1px solid #cccccc;
  float: left;
  margin-left: 10px;
  border-radius: 3px;
}
.kpxq-cpxq-content-right div{
  border: none;
  height: 22px;
  margin-left: 5px;
  color: #9e9e9e;
  font-size: 12px;
}
.kpxq-wrap{
  padding-top: 44px;
  background: #f3f3f3;
  padding-bottom: 10px;
}
.wdhy-content-all{
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  padding: 6px 0;
}
.wdhy-content-wrap{
  margin: 0 auto;
  width: 92%;
}
.wdhy-content-left{
  width: 20%;
  float: left;
}
.wdhy-content-left img{
  width: 35px;
  height: 35px;
}
.wdhy-content-right{
  width: 80%;
  float: left;
  font-size: 15px;
  color: #343434;
}
.wdhy-content-right-top-left{
  float: left;
}
.wdhy-content-right-top-right{
  float: right;
}
.wdhy-content-right-con{
  font-size: 12px;
  color: #9e9e9e;
}
.hy-top{
  float: right;
}
.denglu-top a{
  color: #ffffff;
}
.hylb-content-wrap1{
  margin: 10px 0;
  background: #ffffff;
  padding: 6px 0;
  border-bottom: 1px solid #cccccc;
}
.hylb-content-wrap{
  background: #ffffff;
  padding: 6px 0;
  border-bottom: 1px solid #cccccc;
}
.hylb-content-all{
  width: 92%;
  margin: 0 auto;
}
.hylb-content-all-left{
  float: left;
}
.hylb-content-all-left img{
  width: 37px;
  height: 37px;
}
.hylb-content-all-right{
  float: left;
  line-height: 37px;
  font-size: 13px;
  color: #343434;
  margin-left: 20px;
}
.wdtk-content-wrap{
  margin-bottom: 10px;
}
.wdtk-content-top{
  background: #ffffff;
  line-height: 36px;
}
.wdtk-content-top-all{
  width: 92%;
  margin: 0 auto;
  font-size: 13px;
}
.wdtk-content-top-left{
  float: left;
  color: #343434;
}
.wdtk-content-top-right{
  float: right;
  color: #f39d57;
}
.wdtk-content-con{
  width: 92%;
  margin: 0 auto;
  padding: 8px 0;
}
.wdtk-content-con-left{
  width: 30%;
  float: left;
}
.wdtk-content-con-left img{
  width: 75px;
  height: 75px;
}
.wdtk-content-con-right{
  width: 70%;
  float: left;
}
.wdtk-content-con-right-top-left{
  float: left;
  font-size: 12px;
  color: #343434;
}
.wdtk-content-con-right-top-right{
  float: right;
  font-size: 12px;
  color: #343434;
}
.wdtk-content-con-right-top1{
  line-height: 20px;
}
.wdtk-content-con-right-top-left1{
  float: left;
  font-size: 12px;
  color: #9e9e9e;
}
.wdtk-content-con-right-top-right1{
  float: right;
  font-size: 12px;
  color: #9e9e9e;
}
.wdtk-content-sf{
  background: #ffffff;
  height: 36px;
  font-size: 12px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  color: #343434;
}
.wdtk-content-sf-all{
  line-height: 30px;
  width: 92%;
  margin: 0 auto;
}
.wdtk-content-sf-all a{
  color: #ffffff;
}
.wdtk-content-sf1{
  float: right;
}

.wdtk-cktk1{
  float: right;
  line-height: 20px;
  width: 80px;
  border: 1px solid #f39d57;
  color: #f39d57;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
}
.wdtk-cktk12{
  float: right;
  line-height: 20px;
  width: 80px;
  border: 1px solid #343434;
  color: #343434;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
}
.wdtk-cktk{
  float: right;
  line-height: 20px;
  width: 80px;
  border: 1px solid #f39d57;
  color: #f39d57;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;
}
.wdtk-content-sf4{
  border: none;
}
.sqtk-content-wrap{
  width: 92%;
  margin: 0 auto;
}
.sqtk-content-top-wrap{
  line-height: 33px;
  font-size: 12px;
  color: #343434;
}
.sqtk-content-top-wrap span{
  color: #f96f29;
}
.sqtk-content-con{
  background: #ffffff;
  line-height: 45px;
  border: 1px solid #e8e8e8;
}
.sqtk-content-con span{
  margin-left: 20px;
  color: #9e9e9e;
}
.sqtk-content-con1{
  height: 100px;
  overflow-x: scroll;
  background: #ffffff;
  line-height: 45px;
  border: 1px solid #e8e8e8;
}
.sqtk-content-con1 span{
  margin-left: 20px;
  color: #343434;
}
.wode-wddd-top-wrap{
  width: 100%;
  background: #ffffff;
  line-height: 45px;
  border-bottom: 1px solid #e8e8e8;
}
.wode-wddd-top-text{
  float: left;
  width: 20%;
  text-align: center;
  font-size: 12px;
  color: #343434;
}
.wdddtop{
  color: #f39d57;
  border-bottom: 2px solid #f39d57;
}
.wode-wddd-con{
  width: 100%;
  background: #f3f3f3;
}
.wode-wddd-wrap{
  height: 100%;
  background: #f3f3f3;
  padding-bottom: 55px;
}
.wode-wddd-wrap .wode-wddd-top-wrap{
  padding-top: 44px;
}
.wdtk-content-wrap1{
  padding-top: 44px;
}
.wode-ddzf-top-wrap{
  padding-top: 44px;
  line-height: 30px;
  background: #ffffff;
  font-size: 12px;
}
.wode-ddzf-top{
  width: 92%;
  margin: 0 auto;
}
.wode-ddzf-top-left{
  float: left;
  color: #787878;
}
.wode-ddzf-top-right{
  float: right;
  color: #ff6b00;
}
.wode-ddzf-top-wrap1{
  margin-top: 10px;
  line-height: 30px;
  background: #ffffff;
  font-size: 12px;
  border-bottom: 1px solid #dedede;
}

.wode-ddzf-top-wrap1 .wode-ddzf-top-left{
  color: #9e9e9e;
}
.wode-ddzf-top-wrap2{
  margin-top: 10px;
  line-height: 30px;
  background: #ffffff;
  font-size: 12px;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}
.wode-ddzf-top-wrap2 .wode-ddzf-top-left{
  color: #9e9e9e;
}
.wode-ddzf-zfbl-wrap{
  padding: 8px 0;
  background: #ffffff;
}
.wode-ddzf-zfbl{
  float: left;
  margin-left: 4%;
  line-height: 30px;
  width: 28%;
  text-align: center;
  font-size: 12px;
  color: #cccccc;
  background: #f3f3f3;
  border-radius: 3px;
  border: 1px solid #f3f3f3;
}
.wode-ddzf-zfbl img{
  margin-top: 9px;
  padding-right: 5px;
}
.ddzf{
  background: #feeadc;
  border: 1px solid #ff8614;
  color: #ff8614;
}
.wode-ddzf-content-wrap{
  width: 100%;
  background: #ffffff;
  padding: 6px 0;
  border-bottom: 1px solid #dedede;
}
.wode-ddzf-content-all{
  width: 92%;
  margin: 0 auto;
}
.wode-ddzf-content-left{
  float: left;
  width: 50%;
}
.wode-ddzf-content-left-le{
  float: left;
}
.wode-ddzf-content-left-le img{
  width: 30px;
  height: 30px;
}
.wode-ddzf-content-left-ri{
  float: left;
  margin-left: 10px;
}
.wode-ddzf-content-left-text{
font-size: 14px;
  color: #343434;
  line-height: 14px;
}
.wode-ddzf-content-left-tex{
  font-size: 12px;
  color: #9e9e9e;
  line-height: 12px;
}

.wode-ddzf-content-right{
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #dedede;
  margin-top: 5px;
  position: relative;
}
.wode-ddzf-content-right img{
  width: 20px;
  height: 20px;
  position: absolute;
}
.wode-ddzf-content-text{
  width: 92%;
  margin: 0 auto;
  font-size: 12px;
  color: #ff8614;
  margin-top: 5px;
}
.gdgzf-content-wrap{
  padding-top: 44px;
  margin-top: 14px;
}
.gdgzf-content-al{
  width: 92%;
  margin: 0 auto;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  line-height: 40px;
  font-size: 12px;
  color: #343434;
}
.gdgzf-content-all{
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid #dedede;
  line-height: 40px;
  font-size: 12px;
  color: #343434;
  font-size: 12px;
}
.gdgzf-content-all-left{
  float: left;
  color: #343434;
}
.gdgzf-content-all-right{
  float: right;
  color: #9e9e9e;
}
.gdgzf-content-all-right img{
  margin-top: 14px;
}
.gdgzf-content-all-left1{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  border: 1px solid #dedede;
  margin-top: 12px;
  margin-right: 5px;
}
.gdgzf-content-all-left1 img{
  width: 15px;
  height: 15px;
  position: absolute;
}
.gdgzf-content-all-right1{
  color: #ff6b00;
}
.gdgzf-content-all-left11{
  border: 1px solid #dedede;
  display: inline-block;
  padding: 10px 10px;
  line-height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.gdgzf-content-all-left111{
  font-size: 12px;
  color: #9e9e9e;
  display: inline-block;
  margin-top: 30px;
  margin-left: 5px;
}
.gdgzf-content-text{
  float: right;
  width: 85%;
  border: 1px solid #dedede;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0;
}
.gdgzf-content-text1{
  float: right;
  width: 75%;
  border: 1px solid #dedede;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0;
}
.gdgzf-content-text input{
  border: none;
  height: 60px;
  width: 100%;
}
.gdgzf-content-text1 input{
  border: none;
  height: 30px;
  width: 100%;
}
.gdgfk-gdg-top{
  margin-top: 44px;
  width: 100%;
  background: #ffffff;
  padding: 10px 0;
}
.gdgzf-gdgfk-wrap .gdgzf-content-wrap{
  padding-top: 0;
}
.gdgzf-gdgfk-wrap .gdgzf-content-al{
  border-top: none;
}
.gdgzf-gdgfk-wrap{
  background: #f3f3f3;
 padding-bottom: 45px;
}
.gdgfk-gdg-top-all{
  width: 92%;
  margin: 0 auto;
}
.gdgfk-gdg-top-all-text{
  float: left;
  text-align: center;
  width: 33%;
  font-size: 12px;
  color: #9e9e9e;
}
.gdgfk-gdg-top-all-text1{
  color: #75c833;
}
